div#paypal.
  <h1>Marketplace Demo with REST API</h3>
  <a href="https://developer.paypal.com/docs/marketplaces/pp4mp/" target="_blank">See the doc.</a>

  <script src="https://www.paypalobjects.com/api/checkout.js"></script>

  <h3>=== Step 2. Payment ===</h3>

  <h4>Receiver Account (connected in the Step 1.)</h4>
  <input type="text" value="#{receiver}" id="merchantIdInPayPal"></text>
  <button onclick="window.location.href='/mp/order?merchantIdInPayPal='+document.getElementById('merchantIdInPayPal').value" style="background-color:white;">Check the Receiver Status</button>
  <br/>
  #{body}
  <br/>
  <br/>

  <h4>Pay with Order API</h4>
  <a href="https://developer.paypal.com/docs/marketplaces/pp4mp/" target="_blank">See the doc.</a>
  <br/>
  <br/>

  <div id="paypal-button-container"></div>
    <script>
        paypal.Button.render({

            env: '#{env}', // sandbox | production

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            style: {
                size: 'medium',
                color: 'gold',
                shape: 'pill',
                label: 'checkout'
            },

            // payment() is called when the button is clicked
            payment: function() {

                // Set up a url on your server to create the payment
                var CREATE_URL = '#{order_url}';

                // Make a call to your server to set up the payment
                return paypal.request.post(CREATE_URL)
                    .then(function(res) {
                        return res.id;
                    });
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {

                // sample data={paymentToken: "7U379147CX608231X", payerID: "VZXRX2AG4RY6G", intent: "order", returnUrl: "http://localhost:9090/checkout?mode=review&rmi=150…YED&token=7U379147CX608231X&PayerID=VZXRX2AG4RY6G"}

                // Set up a url on your server to execute the payment
                var EXECUTE_URL = '#{pay_url}';

                // Set up the data you need to pass to your server
                var data = {
                    orderID: data.paymentToken,
                    payerID: data.payerID
                };

                // Make a call to your server to execute the payment
                return paypal.request.post(EXECUTE_URL, data)
                    .then(function (res) {
                        //window.alert('Payment Complete!');
                        document.getElementById('res').innerHTML = JSON.stringify(res);
                    });
            }

        }, '#paypal-button-container');
    </script>

    <p id="res"></p>

  <br/>
  <br/>
  <a href="/mp">Previous: Step 1. Onboarding</a>
